.favoritesContainer {
    padding-bottom: 15px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.favoritesTitle {
    color: white;
    font-family: 'BrightFate', sans-serif;
    margin-top: 0;
}