@font-face {
    font-family: 'Brightfate';
    src: local('../../fonts/Brightfate/BrightfateRegular.woff') format('woff');
    src: local('../../fonts/Brightfate/BrightfateRegular.eot') format('eot');
    src: local('../../fonts/Brightfate/BrightfateRegular.svg') format('svg');
    src: local('../../fonts/Brightfate/BrightfateRegular.ttf') format('ttf');
    src: local('../../fonts/Brightfate/BrightfateRegular.woff2') format('woff2')
  }

.homeContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 90vh;
    color: white;
}

.mainContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: white;
    margin-top: 15px;
    width: 80%;
}

.locationContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    
}

.buttonContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    width: 80%;
    margin-bottom: 20px;
    /* border: 1px solid blue; */
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
}

form {
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 10px;
}

.cityInput {
    display: block;
    width: 70%;
}

Button.submitButton {
    /* border: 1px solid pink; */
    align-self: center;
    width: 70%;
}

.cityTitle {
    /* border: 1px solid limegreen; */
    font-size: 20px;
    margin: 5px;
    color: #677F6A;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.locationLabel {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #677F6A;
    font-size: 12px;
}

.appTitle {
    /* border: 1px solid blue; */
    font-family: 'Brightfate';
    margin-bottom: 0px;
    font-size: 72px;
    margin-top: 50px;   
}

.subhead {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .5rem;
    margin-top: 5px;
    margin-bottom: 20px;
}