 .searchContainer {
     /* border: 1px solid pink; */
     height: 100%;
     display: flex;
     flex-flow: column;
     align-items: center;
     width: 100%;
 }

 .searchForm {
     display: flex;
     flex-flow: row;
     justify-content: center;
     height: 50px;
     /* border: 2px solid white; */
     width: 300px;
     margin: 10px;
 }

.searchTitle {
    color: #fafafa;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 0;
}